/* HeroSection.css */

.container {
  background-color: #f8f9fa; /* Light background color */
  padding: 20px;
}

h2 {
  font-size: 2rem;
}

.highlight.hobby {
  color: #6f42c1; /* Purple */
  font-weight: bold;
}

.highlight.community {
  color: #0d6efd; /* Blue */
  font-weight: bold;
}

.btn-primary {
  background-color: #6f42c1;
  border-color: #6f42c1;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .img-fluid {
    max-width: 50%;
    height: auto;
  }
}

@media screen and (max-width: 992px) {
  .img-fluid {
    max-width: 40%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .img-fluid {
    max-width: 50%;
    height: auto;
  }
}

.smol-btn {
  width: 130px;
}
